<h2><%= @task.title %></h2>
<dl>
    <dt><b>内容</b></dt>
    <dd><%= @task.body %></dd>

    <dt><b>開始日</b></dt>
    <dd><%= @task.start_date %></dd>

    <dt><b>期日</b></dt>
    <dd><%= @task.end_date %></dd>

    <dt><b>ステータス</b></dt>
    <dd><%= @task.status %></dd>

    <dt><b>タグ</b></dt>
    <dd><%= @task.tags.map(&:name).join(' ') %></dd>
</dl>

<%= link_to '編集', edit_task_path(@task) %>
<%= link_to "削除", task_path(@task), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
