<!DOCTYPE html>
<html>
  <head>
    <title>TasklistApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to 'タスク一覧', tasks_path %></li>
          <li><%= link_to 'タスク新規追加', new_task_path %></li>
          <li><%= link_to 'タグ新規追加', new_tag_path %></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <%= yield %>
      </article>

      <aside>
        <h3>ステータス一覧</h3>
        <% Task.statuses.keys.each do |name| %>
          <ul>
              <li><%= link_to name, tasks_path(status: name) %></li>
          </ul>
        <% end %>

        <h3>タグ一覧</h3>
        <% Tag.all.each do |tag| %>
          <ul>
              <li><%= link_to tag.name, tags_path(tag_id: tag.id) %></li>
          </ul>
        <% end %>
      </aside>
    </main>
  </body>
</html>
